$color-neutral: rgb(255, 249, 240);
$color-accent: rgb(117, 0, 128);
$color-accent-bright: rgb(185, 0, 185);
$color-light: white;
$color-dark: black;
$font-size: 20px;
$font-family: 'Signika';
$gap: 1rem;
$border: 2px;
$padding: 10px;